@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@200;300;400;500;600;700;800&display=swap");

/* CSS variables for reusablity across all files (including above imported) */
:root {
  --playfair-display: "Playfair Display", serif;
  --plus-jakarta-sans: "Plus Jakarta Sans", sans-serif;

  --primary-color: #b1454a;
  --secondary-color: #121212;

  --black-200: #020202;
  --black-300: #333333;
  --black-400: #1f1e31;
  --black-500: #555555;
  --gray-100: #888888;

  --color-white: #fff;
  --color-creamson: #fff0de;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  max-width: 1280px;
  margin: 0 auto;
  background-color: var(--color-creamson);
}

a {
  text-decoration: none;
  color: inherit;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}


/* NAVBAR */

.nav_header {
	display: flex;
	overflow: hidden;
}

.nav_logo {
	display: flex;
	padding: 20px;
	flex: 1;
	position: relative;
}

.header_logo-overlay {
	position: absolute;
	inset: 0;
	width: 100%;
	background-color: var(--primary-color);
	z-index: -1;
}

.nav_logo h4 {
	font-size: 24px;
	font-family: var(--playfair-display);
	font-weight: 700;
	color: #fff;
	padding-left: 30px;
	text-transform: uppercase;
}

.header_menu, .header_menu-mobile {
	display: flex;
	flex: 1.236;
	padding: 20px;
	align-items: center;
	gap: 64px;
	justify-content: flex-end;
}

.header_menu, .header_menu-mobile li {
	font-family: var(--plus-jakarta-sans);
	font-size: 16px;
	font-weight: 500;
	color: var(--secondary-color);
	list-style: none;
	cursor: pointer;
	line-height: 20px;
}

.header_menu li img {
	width: 24px;
	height: 24px;
	object-fit: contain;
}

.header_menu-mobile {
	display: none;
	gap: 20px;
	position: relative;
}

/* MEDIA QUERIES OF NAVBAR */

@media screen and (max-width: 900px) {
	.nav_header {
	  background: var(--primary-color);
	}

	.nav_logo h4 {
		padding-left: 0px;
	}
  
	.header_menu {
	  display: none;
	}
  
	.header_menu-mobile {
	  display: flex;
	}
}


/* HERO SECTION */

.hero {
	display: flex;
	min-height: calc(100vh - 74px);
	overflow: hidden;
}

.hero_image {
	display: flex;
	flex-direction: column;
	flex: 1;
	z-index: 10;
	position: relative;
}

.hero_image img {
	width: 120%;
	height: 100%;
	object-fit: contain;
}

.hero_image-overlay {
	position: absolute;
	inset: 0;
	width: 100%;
  
	background-color: var(--primary-color);
	z-index: -1;
}
  
.hero_image h2 {
	position: absolute;
	bottom: 0;
	padding: 20px;

	font-family: var(--playfair-display);
	font-weight: 700;
	font-size: 120px;
	line-height: 138px;
	color: #fff;
}

.hero-content {
	display: flex;
	flex-direction: column;
	flex: 1.22;
}

.hero_content-info {
	padding: 64px;
	flex: 1;
	display: flex;
	justify-content: center;
	flex-direction: column;
}
  
.hero_content-info h1 {
	font-size: 80px;
	font-weight: 600px;
	font-family: var(--playfair-display);
	color: var(--secondary-color);
}

.hero_content-info p {
	margin: 32px 0 0 32px;
	font-family: var(--plus-jakarta-sans);
	color: var(--secondary-color);
	font-size: 18px;
	font-weight: 400;
}
  
.hero_content-buttons {
	margin: 41px 0 0 41px;
	display: flex;
	flex-wrap: wrap;
	gap: 36px;
}

.hero_content_order-button {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	background: var(--secondary-color);
	font-family: var(--plus-jakarta-sans);
	overflow: hidden;
	border: none;
	border-radius: 36px;
	cursor: pointer;
}
   
.hero_content_order-button:after {
	content: " ";
	width: 0%;
	height: 100%;
	background: var(--primary-color);
	position: absolute;
	transition: all 0.4s ease-in-out;
	right: 0;
}
   
.hero_content_order-button:hover::after {
	right: auto;
	left: 0;
	width: 100%;
}
   
.hero_content_order-button span {
	text-align: center;
	text-decoration: none;
	width: 100%;
	color: #fff;
	font-size: 18px;
	font-weight: 700;
	line-height: 20px;
	z-index: 20;
	transition: all 0.3s ease-in-out;
	padding: 20px;
	min-width: 212px;
	outline: none;
	border: none;
}

.hero_content_play-button {
	border: none;
	outline: none;
	background: transparent;
	display: flex;
	align-items: center;
	font-size: 16px;
	line-height: 19px;
	color: var(--black-200);
	font-family: var(--plus-jakarta-sans);
  	cursor: pointer;
}
  
.hero_content_play-button img {
	margin-right: 12px;
	width: 46px;
	height: 46px;
	object-fit: contain;
}

.hero_content-testimonial {
	padding: 32px 64px;
	display: flex;
	flex-wrap: wrap;
	gap: 20px;
	background: var(--color-white)
}

.hero_content-customer {
	flex: 1;
	gap: 10px;
}
  
.hero_content-customer h4 {
	font-size: 62px;
	font-weight: 400;
	font-family: var(--playfair-display)
}
  
.hero_content-customer p {
	font-size: 16px;
	font-weight: 400;
	font-family: var(--plus-jakarta-sans);
	color: var(--secondary-color);
	opacity: 0.5;
}
  
.hero_content-review {
	flex: 1;
	display: flex;
	align-items: center;
	gap: 10px;
	padding-left: 20px;
	border-left: 1px solid rgba(2, 2, 2, 0.1);
	min-width: 200px;
}
  
.hero_content-review img {
	width: 42px;
	height: 42px;
	object-fit: contain;
}
  
.hero_content-review p {
	font-size: 12px;
	font-weight: 400;
	line-height: 32px;
	font-family: var(--plus-jakarta-sans);
	color: var(--secondary-color);
	opacity: 0.8;
}

/* ABOUT US SECTION */

.about-us {
	display: flex;
	min-height: 720px;
	overflow: hidden;
}

.about-us_images {
	display: flex;
	flex-direction: column;
	justify-content: center;
	flex: 1;
	position: relative;
}

.about-us_image-sushi3 {
	background-color: var(--color-white);
	padding: 32px 64px;
	display: flex;
	flex: 1;
	align-items: center;
	background-image: url('assets/about_bg1.png');
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
	border-bottom: 8px solid var(--color-creamson);
}

.about-us_image-sushi2 {
	background-image: url('assets/about_bg2.png');
	background-color: var(--color-white);
	padding: 32px 64px;
	display: flex;
	flex: 1;
	align-items: center;
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
}

.about-us_image-sushi3 img {
	width: 225px;
	height: 200px;
}

.about-us_image-sushi2 img {
	width: 240px;
	height: 160px;
}

.about-us_button {
	position: absolute;
	right: 0;
	padding: 12px 32px;
	min-height: 64px;
	background: var(--secondary-color);
	border-radius: 32px 0 0 32px;
	border: 0;
	outline: 0;
	color: #fff;
	font-family: var(--plus-jakarta-sans);
	font-weight: 500;
	font-size: 18px;
	line-height: 23px;
	cursor: pointer;
}

.about-us_button:hover {
	background-color: var(--primary-color);
	transition: all 0.4s ease-in-out;
}

.about-us_content {
	padding: 64px;
	flex: 1;
	display: flex;
	justify-content: center;
	flex-direction: column;
}

.sushi_subtitle {
	font-size: 18px;
	font-weight: 400;
	font-family: var(--plus-jakarta-sans);
	color: var(--primary-color);
	opacity: 0.8;
  	letter-spacing: -0.01em;
}

.sushi_title {
	font-size: 64px;
	font-weight: 600;
	font-family: var(--playfair-display);
	color: var(--secondary-color);
	margin-top: 16px;
}
  
.sushi_description {
	font-size: 18px;
	font-weight: 400;
	font-family: var(--plus-jakarta-sans);
	line-height: 36px;
	letter-spacing: -0.01em;
	color: var(--secondary-color);
	opacity: 0.8;
	margin: 32px 0px;
}

/* POPULAR FOODS */

.popular-foods {
	display: flex;
	flex-direction: column;
	padding: 64px;
	background-color: var(--primary-color);
	background-image: url('assets/popular_bg.png');
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
	overflow: hidden;
}

.popular-foods_title {
	font-size: 56px;
	font-family: var(--playfair-display);
	font-weight: 600;
	line-height: 78px;
	color: #fff;
	text-align: center;
}

.popular-foods_filters {
	margin-top: 50px;
	display: flex;
	justify-content: center;
	gap: 64px;
	overflow: auto;
}

.popular-foods_filters_btn {
	padding: 10px 28px;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 50px;
	gap: 10px;
	background: rgba(255, 255, 255, 0.05);
	border: 1px solid rgba(255, 255, 255, 0.2);
	font-size: 16px;
	font-weight: 300px;
	line-height: 25px;
	font-family: var(--plus-jakarta-sans);
	color: #fff;
	cursor: pointer;
}

.popular-foods_filters_btn img {
	width: 36px;
	height: 36px;
	object-fit: contain;
}

.popular-foods_filters_btn.active {
	background: #fff;
	color: var(--primary-color)
}
  
.popular-foods_filters_btn:hover {
	background: #fff;
	color: var(--primary-color);
	transition: all 0.4s ease-in-out;
}

.popular-foods_catalogue {
	margin-top: 65px;
	display: flex;
	justify-content: center;
	align-items: flex-end;
	flex-wrap: wrap;
	gap: 55px;
}

.popular-foods_button {
	width: fit-content;
	padding: 20px 30px;
	margin: 80px auto 0;
	font-weight: 500;
	font-size: 18px;
	line-height: 23px;
	font-family: var(--plus-jakarta-sans);
	color: #fff;
	border: none;
	outline: none;
	background: var(--secondary-color);
	border-radius: 64px;
	cursor: pointer;
}
  
.popular-foods_button img {
	width: 14px;
	height: 14px;
	object-fit: contain;
	margin-left: 21px;
}

.popular-foods_card {
	padding: 38px;
	min-width: 260px;
	height: fit-content;
  
	display: flex;
	align-items: center;
	flex-direction: column;
  
	border-radius: 36px;
	background: rgba(255, 255, 255, 0.05);
	border: 1px solid rgba(255, 255, 255, 0.2);
}

.popular-foods_card-image {
	width: 110px;
	height: 84px;
	object-fit: contain;
}

.popular-foods_card-title {
	margin-top: 47px;
  
	font-weight: 600;
	font-size: 24px;
	line-height: 32px;
	font-family: var(--playfair-display);
	color: #fff;
	text-align: center;
}
  
.popular-foods_card-details {
	width: 100%;
	margin-top: 32px;
}

.popular-foods_card-rating {
	display: flex;
	align-items: center;
	gap: 8px;
}
  
.popular-foods_card-rating img {
	width: 24px;
	height: 24px;
	object-fit: contain;
}
  
.popular-foods_card-rating p {
	font-size: 20px; 
	font-weight: 300;
	font-family: var(--plus-jakarta-sans);
	color: #fff;
}

.popular-foods_card-price {
	font-size: 20px; 
	font-weight: 500;
	font-family: var(--plus-jakarta-sans);
	color: #fff;
}

.popular-foods_card.active-card {
	background: #fff;
	min-width: 340px;
}
  
.popular-foods_card.active-card .popular-foods_card-image {
	width: 214px;
	height: 160px;
}
  
.popular-foods_card.active-card .popular-foods_card-title {
	color: var(--black-500);
	font-size: 32px;
}
  
.popular-foods_card.active-card .popular-foods_card-rating img {
	width: 32px;
	height: 32px;
}
  
.popular-foods_card.active-card .popular-foods_card-rating p {
	font-size: 24px;
	color: var(--gray-100);
}
  
.popular-foods_card.active-card .popular-foods_card-price {
	font-size: 24px;
	color: var(--secondary-color)
}

/* TRENDING SECTION */

.trending {
	position: relative;
  
	display: flex;
	flex-direction: column;
	overflow: hidden;
}
  
.trending__discover {
	position: absolute;
	top: 44%;
	left: 44%;
	z-index: 1;
  
	width: 160px;
	height: 160px;
  
	border-radius: 100%;
	background-color: var(--secondary-color);
	cursor: pointer;
  
	display: flex;
	justify-content: center;
	align-items: center;
}
  
.trending__discover p {
	font-size: 18px;
	font-weight: 500;
	font-family: var(--plus-jakarta-sans);
  
	text-transform: uppercase;
	color: #fff;
}
  
.trending-sushi,
.trending-drinks {
	width: 100%;
	min-height: 640px;
  
	display: flex;
	flex-direction: row;
}
  
.trending__content {
	flex: 1;
	display: flex;
	justify-content: center;
	flex-direction: column;
  
	padding: 32px 64px;
}
  
.trending__list {
	list-style: none;
  
	flex-wrap: wrap;
	gap: 20px;
}
  
.trending__list li {
	flex: 1;
	display: flex;
	align-items: center;
	flex-direction: row;
	gap: 12px;
  
	min-width: 210px;
}
  
.trending__icon {
	width: 24px;
	height: 24px;
  
	border-radius: 100%;
	background-color: var(--primary-color);
}
  
.trending__icon img {
	width: 50%;
	height: 50%;
	object-fit: contain;
}
  
.trending__list p {
	flex: 1;
	font-size: 16px;
	font-weight: 500;
	font-family: var(--plus-jakarta-sans);
  
	color: var(--secondary-color);
}
  
.trending__image {
	flex: 1;
  
	position: relative;
	padding: 32px 64px;
  
	background-color: var(--color-white);
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
}
  
.trending-sushi .trending__image {
	background-image: url("../../assets/japanese_sushi.png");
}
  
.trending-drink .trending__image {
	background-image: url("../../assets/japanese_drinks.png");
}
  
.trending__image img {
	width: 254px;
	height: 260px;
	object-fit: contain;
}
  
/* Arrows */
.trending__arrow {
	position: absolute;
	z-index: 1;
}
  
.trending__arrow img {
	object-fit: contain;
}
  
.trending__arrow-left {
	left: -2.5px;
	top: 12%;
}
  
.trending__arrow-left img,
.trending__arrow-top img {
	width: auto;
	height: 100%;
}
  
.trending__arrow-top {
	top: -10.5px;
	left: 12%;
}
  
.trending__arrow-bottom {
	bottom: -6.5px;
	right: 12%;
}
  
.trending__arrow-bottom img,
.trending__arrow-right img {
	width: 100%;
	height: auto;
}
  
.trending__arrow-right {
	right: -2.5px;
	bottom: 12%;
}

/* SUBSCRIBE SECTION */

.subscription {
	padding: 64px;
  
	background-color: var(--primary-color);
	background-image: url('../../assets/subscribe_bg.png');
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
  
	flex-direction: column;
	overflow: hidden;
}
  
.subscription h2 {
	font-size: 88px;
	font-family: var(--playfair-display);
	font-weight: 600;
	line-height: 123px;
  
	color: #fff;
	text-align: center;
}
  
.subscription p {
	font-size: 18px;
	font-family: var(--plus-jakarta-sans);
	font-weight: 300;
	line-height: 36px;
  
	margin-top: 32px;
  
	color: rgba(255, 255, 255, 0.8);
}
  
.subscription__form {
	min-width: 480px;
	margin-top: 40px;
  
	padding: 14px 14px 14px 24px;
  
	display: flex;
	gap: 10px;
  
	border: 1px solid rgba(255, 255, 255, 0.5);
	border-radius: 46px;
}
  
.subscription__form input {
	flex: 1;
  
	font-size:  16px;
	font-weight: 400px;
	font-family: var(--plus-jakarta-sans);
  
	color: #fff;
	opacity: 0.5;
  
	background: transparent;
	border: none;
	outline: none;
}
  
.subscription__form input::placeholder {
	color: #fff;
	opacity: 0.5;
}
  
.subscription__form button {
	padding: 20px;
  
	min-width: 180px;
  
	font-size: 16px;
	font-weight: 500;
	font-family: var(--plus-jakarta-sans);
	color: #fff;
	text-align: center;
  
	background: var(--black-400);
	border-radius: 46px;
	border: none;
	outline: none;
  
	cursor: pointer;
}

/* FOOTER SECTION */

.footer {
	width: 100%;
	padding: 20px 40px;
	background: var(--color-white);
  
	flex-wrap: wrap;
	gap: 20px;
  
	overflow: hidden;
}
  
.footer__logo {
	font-size: 24px;
	font-weight: bold;
	font-family: var(--playfair-display);
	text-transform: uppercase;
	color: var(--secondary-color);
  
	cursor: pointer;
}
  
.footer__logo span {
	color: var(--primary-color)
}
  
.footer ul {
	list-style: none;
  
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	gap: 64px;
}
  
.footer ul:last-child {
	gap: 32px;
}
  
.footer__nav li {
	font-size: 16px;
	font-weight: 500;
	font-family: var(--plus-jakarta-sans);
	text-transform: uppercase;
	color: var(--secondary-color);
  
	cursor: pointer;
}
  
.footer__social li {
	width: 42px;
	height: 42px;
  
	background-color: var(--secondary-color);
	border-radius: 100%;
}
  
.footer__social li img {
	width: 45%;
	height: 45%;
  
	object-fit: contain;
}