@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@200;300;400;500;600;700;800&display=swap");

/* CSS variables for reusablity across all files (including above imported) */
:root {
  --playfair-display: "Playfair Display", serif;
  --plus-jakarta-sans: "Plus Jakarta Sans", sans-serif;

  --primary-color: #b1454a;
  --secondary-color: #121212;

  --black-200: #020202;
  --black-300: #333333;
  --black-400: #1f1e31;
  --black-500: #555555;
  --gray-100: #888888;

  --color-white: #fff;
  --color-creamson: #fff0de;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  max-width: 1280px;
  margin: 0 auto;
  background-color: var(--color-creamson);
}

a {
  text-decoration: none;
  color: inherit;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}


/* NAVBAR */

.nav_header {
	display: flex;
	overflow: hidden;
}

.nav_logo {
	display: flex;
	padding: 20px;
	flex: 1;
	position: relative;
}

.header_logo-overlay {
	position: absolute;
	inset: 0;
	width: 100%;
	background-color: var(--primary-color);
	z-index: -1;
}

.nav_logo h4 {
	font-size: 24px;
	font-family: var(--playfair-display);
	font-weight: 700;
	color: #fff;
	padding-left: 30px;
	text-transform: uppercase;
}

.header_menu, .header_menu-mobile {
	display: flex;
	flex: 1.236;
	padding: 20px;
	align-items: center;
	gap: 64px;
	justify-content: flex-end;
}

.header_menu, .header_menu-mobile li {
	font-family: var(--plus-jakarta-sans);
	font-size: 16px;
	font-weight: 500;
	color: var(--secondary-color);
	list-style: none;
	cursor: pointer;
	line-height: 20px;
}

.header_menu li img {
	width: 24px;
	height: 24px;
	object-fit: contain;
}

.header_menu-mobile {
	display: none;
	gap: 20px;
	position: relative;
}

/* MEDIA QUERIES OF NAVBAR */

@media screen and (max-width: 900px) {
	.nav_header {
	  background: var(--primary-color);
	}

	.nav_logo h4 {
		padding-left: 0px;
	}
  
	.header_menu {
	  display: none;
	}
  
	.header_menu-mobile {
	  display: flex;
	}
  }